.button {
font-family:Times New Roman, serif;
color:#FFFFFF;
font-weight:bold;
font-size:16px;
background-color:#23408C;
}

.feedback {
font-family:Times New Roman, serif;
color:#333333;
font-weight:normal;
font-size:12px;
}

.question {
font-family:Times New Roman, serif;
color:#333333;
font-weight:normal;
font-size:12px;
}

.option {
font-family:Times New Roman, serif;
color:#333333;
font-weight:normal;
font-size:12px;
}

.slideText {
font-family:Times New Roman;
color:#23408C;
font-weight:normal;
font-size:28px;
text-align:center;
}

.caption {
font-family:Arial;
color:#333333;
font-weight:normal;
font-size:11px;
font-style:italic;
text-align:center;
}

.pageTitle {
font-family:Times New Roman;
color:#23408C;
font-weight:bold;
font-size:24px;
text-align:center;
}

.instructions {
font-family:Arial;
color:#333333;
font-weight:bold;
font-size:12px;
text-align:center;
}

.title {
font-family:Times New Roman;
color:#23408C;
font-weight:bold;
font-size:20px;
text-align:center;
}

.target {
background-color:#0982AD;
}

.text {
font-family:Arial;
color:#333333;
font-weight:normal;
font-size:14px;
text-align:left;
}

