
body					{ background: #FFF url(content_bg.gif) 0 99px repeat-x; }


.contentBody			{ background-image: none; }


.nav					{ background-color: #FFF; }

	.nav .logo				{ margin: 5px; }
	
		.nav .button img		{ margin-top: 3px; }
		
		
.infoBar				{ background: #FFF url(infobar_bg.gif); }


.launchBox				{ background-color: #FFF; border: 1px solid #999; }