.infoBar {
font-family:Verdana, Geneva, sans-serif;
color:#FFFFFF;
font-size:11px;
font-weight:bold;
font-style:normal;
text-decoration:none;
text-align:left;
background-color:#23408C;
}

.caption {
font-family:Verdana, Geneva, sans-serif;
color:#333333;
font-size:14px;
font-weight:normal;
font-style:normal;
text-decoration:none;
text-align:center;
background-color:Transparent;
}

.text, .text table {
font-family:Verdana, Geneva, sans-serif;
color:#333333;
font-size:12px;
font-weight:normal;
font-style:normal;
text-decoration:none;
text-align:left;
background-color:Transparent;
}

.text a {
font-family:Verdana, Geneva, sans-serif;
color:#23408C;
font-size:12px;
font-weight:bold;
font-style:normal;
text-decoration:underline;
text-align:left;
background-color:Transparent;
}

.text a:visited {
font-family:Verdana, Geneva, sans-serif;
color:#6787C1;
font-size:12px;
font-weight:bold;
font-style:normal;
text-decoration:underline;
text-align:left;
background-color:Transparent;
}

.text a:hover {
font-family:Verdana, Geneva, sans-serif;
color:#FFFFFF;
font-size:12px;
font-weight:bold;
font-style:normal;
text-decoration:none;
text-align:left;
background-color:#23408C;
}

.textHeadline {
font-family:Verdana, Geneva, sans-serif;
color:#23408C;
font-size:17px;
font-weight:bold;
font-style:normal;
text-decoration:none;
text-align:left;
background-color:Transparent;
}

.contentBox {
font-family:Verdana, Geneva, sans-serif;
color:#333333;
font-size:12px;
font-weight:normal;
font-style:normal;
text-decoration:none;
text-align:left;
background-color:#FFFFFF;
}

.info {
font-family:Verdana, Geneva, sans-serif;
color:#333333;
font-size:12px;
font-weight:normal;
font-style:normal;
text-decoration:none;
text-align:center;
background-color:Transparent;
}

.groupTitle {
font-family:Verdana, Geneva, sans-serif;
color:#666666;
font-size:12px;
font-weight:bold;
font-style:normal;
text-decoration:none;
text-align:left;
background-color:Transparent;
}

.glossWord {
font-family:Verdana, Geneva, sans-serif;
color:#23408C;
font-size:12px;
font-weight:bold;
font-style:normal;
text-decoration:none;
text-align:left;
background-color:Transparent;
}

.glossDescrip {
font-family:Times New Roman, serif;
color:#333333;
font-size:12px;
font-weight:normal;
font-style:normal;
text-decoration:none;
text-align:left;
background-color:Transparent;
}

.infoLinks {
font-family:Verdana, Geneva, sans-serif;
color:#333333;
font-size:12px;
font-weight:normal;
font-style:italic;
text-decoration:none;
text-align:left;
background-color:Transparent;
}

.milink a {
font-family:Verdana, Geneva, sans-serif;
color:#23408C;
font-size:12px;
font-weight:bold;
font-style:normal;
text-decoration:underline;
text-align:left;
background-color:Transparent;
}

.milink a:visited {
font-family:Verdana, Geneva, sans-serif;
color:#6787C1;
font-size:12px;
font-weight:bold;
font-style:normal;
text-decoration:underline;
text-align:left;
background-color:Transparent;
}

.milink a:hover {
font-family:Verdana, Geneva, sans-serif;
color:#FFFFFF;
font-size:12px;
font-weight:bold;
font-style:normal;
text-decoration:none;
text-align:left;
background-color:#23408C;
}

.jumpTo a {
font-family:Verdana, Geneva, sans-serif;
color:#FFFFFF;
font-size:14px;
font-weight:bold;
font-style:normal;
text-decoration:underline;
text-align:center;
background-color:#23408C;
}

.jumpTo a:visited {
font-family:Verdana, Geneva, sans-serif;
color:#FFFFFF;
font-size:14px;
font-weight:bold;
font-style:normal;
text-decoration:underline;
text-align:center;
background-color:#23408C;
}

.jumpTo a:hover {
font-family:Verdana, Geneva, sans-serif;
color:#FFFFFF;
font-size:14px;
font-weight:bold;
font-style:normal;
text-decoration:none;
text-align:center;
background-color:#6787C1;
}

.editPanel {
font-family:Times New Roman, serif;
color:#333333;
font-size:11px;
font-weight:normal;
font-style:normal;
text-decoration:none;
text-align:center;
background-color:#FFFFFF;
}

.standard-btn a {
font-family:Times New Roman, serif;
color:#333333;
font-size:11px;
font-weight:normal;
font-style:normal;
text-decoration:none;
text-align:center;
background-color:Transparent;
}

.standard-btn a:visited {
font-family:Times New Roman, serif;
color:#333333;
font-size:11px;
font-weight:normal;
font-style:normal;
text-decoration:none;
text-align:center;
background-color:Transparent;
}

.standard-btn a:hover {
font-family:Times New Roman, serif;
color:#333333;
font-size:11px;
font-weight:normal;
font-style:normal;
text-decoration:underline;
text-align:center;
background-color:Transparent;
}

.launchBox {
background-color:#FFF;
}

a.skip {
position:absolute;
left:-1000em;
width:20em;
}

